html {
  background: linear-gradient(rgb(3, 39, 225, 0.45), rgba(255, 255, 255, 1));
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: Inter;
}

/* ::-webkit-scrollbar {
  width: 0;
} */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.form__wrapper {
  max-width: 539px;
  margin: 0 auto;
}

.form {
  display: flex;
  gap: 20px;
  padding-top: 30px;
  margin-bottom: 40px;
}

.input {
  background: none;
  outline: none;
  border: solid 1px;
  border-radius: 30px;
  padding: 10px;
  padding-left: 22px;
  font-size: clamp(0.938rem, 0.759rem + 0.89vw, 1.563rem);
}

.button__search {
  transition: 0.15s ease-in-out;
  padding: 10px;
  border: none;
  font: inherit;
  font-size: clamp(0.938rem, 0.705rem + 1.16vw, 1.75rem);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 148, 255, 1);
  border-radius: 30px;
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
}

.button__search:hover {
  box-shadow: 0 0 10px 0 rgba(0, 148, 255, 1) inset,
    0 0 10px 4px rgba(0, 148, 255, 1);
  color: rgba(255, 255, 255, 1);
}

/* ////////////////////////////////////////////////////////// */

@media (max-width: 1000px) {
  .form__wrapper {
    max-width: 478px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .form__wrapper {
    max-width: 447px;
  }
}

@media (max-width: 575px) {
  .input {
    max-width: 220px;
  }

  .form__wrapper {
    max-width: 420px;
  }
}

@media (max-width: 465px) {
  .form__wrapper {
    max-width: 313px;
  }

  .form {
    margin-bottom: 20px;
  }

  .input {
    max-width: 170px;
  }

  .button__search {
    padding-left: 20px;
    padding-right: 20px;
  }
}
